@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.loading-modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #121212B2;
}

.loading-modal-container {
    width: 487px;
    height: 327px;
    background-color: #fefefe;

    display: flex;
    flex-direction: column;

    border-radius: 30px;

    box-shadow: 0px 0px 7.1px 0px #00000091;

    opacity: 1; /* opacity: 불투명도. 1 => 완전 불투명. / 0.5 => 반투명 .... */
    transition: opacity 0.2s ease-out; /* 0.2초 동안 부드럽게 투명해짐 */
}
/* className fade-out이 추가되어 선택되면,
opacity: 0이란 목표 값을 가지고 정의된 변화 방식(transition...)을 따라 변화함.
*/
.fade-out {
    opacity: 0;
}

.loading-gif {
    width: 130px;
    height: 130px;
}

.img-and-percentage-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 3vh;
}

.loading-modal-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5vh;

    gap: 8px;
}

.progress-percentage {
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
    letter-spacing: -0.02em;
}


.doing-what {
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
    letter-spacing: -0.02em;

    color: #000000;
}

.please-wait {
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 15px;
    line-height: 1em;
    letter-spacing: -0.02em;
    color: #767676;
}






.complete-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top: 6vh;

    gap: 30px;
}

.success-img {
    height: 138px;
    width: 138px;
}

.success-text {
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
    letter-spacing: -0.02em;
    color: #000000;
}