.page-title-area {
    text-align: center;
    margin-bottom: 40px;
}
.page-title {
    font-size: 40px;
    font-weight: 800; /* 100: thin, 700: bold |+-100, 100~900| */
    color: sandybrown;
    margin: 0 0 10px; /* top left+right bottom */
    letter-spacing: -0.5px; /* 자간 거리. (-): 축소 | (+): 확대 */
}
.sub-title {
    font-size: 15px;
    color: royalblue;
    font-weight: 600;
}

.submit-btn {
    width: 100%;
    padding: 18px;
    margin-top: 35px;
    background: linear-gradient(135deg, #a48b85 0%, #8d7b7b 100%);
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(141, 123, 123, 0.3);
    transition: 0.3s;
}
.submit-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(141, 123, 123, 0.4);
}
.submit-btn:active {
    transform: scale(0.001);
}