.product-detail-page-header {
    margin-top: 10vh;
    margin-left: -2vw;
}

.product-detail-page-body {
    margin-top: 10vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    gap: 35px;
}

.product-detail-page-left-elements-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-and-price-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-info {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 24px;
    line-height: 1em;
    letter-spacing: -0.01em;
    vertical-align: bottom;
    color: #000000;
}

.product-info.price {
    font-weight: 700;
}

.product-img {
    width: 376px;
    height: 471px;
    border-radius: 10px;
    object-fit: cover;
}

.product-detail-page-right-elements-wrapper {
    display: flex;
    flex-direction: column;
    
    gap: 21px;
}

.product-detail-page-description {
    width: 548px;
    height: 240px;

    border-radius: 10px;
    padding: 20px 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: none;

    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4em;
    color: #000000;
}

.product-detail-img-container {
    display: flex;
    flex-direction: column;

    position: relative; /* img container를 기준점으로 */
}

.image-pagination-container-in-uploaded-product-detail-page {
    position: absolute;

    bottom: 15px;
    right: 12px;
}