.grid-board-container {
    background-color: #fefefe;
    display: grid;

    justify-content: center;
    align-content: center;

    border: 2px solid #000000;
    border-left: 3px solid #000000;
    border-top: 3px solid #000000;
   /* grid-cell에서 right, bottom에만 테두리 값 주기에 여기서 left, top에 따로 추가로 지정 */
    box-sizing: border-box;
}

.grid-cell {
   border-right: 1px solid #000000;
   border-bottom: 1px solid #000000; 
   /* border: 1px solid #000000; */
   
   display: flex;
   justify-content: center;
   align-items: center;
}

/* 기호 이미지 스타일 */
.grid-cell img {
    width: 100%;
    height: 100%;
}

.undo-redo-btn-container-in-grid-board {
    justify-content: right;
}