@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.upload-img {
    width: 26px;
    height: 26px;
}

.upload-btn-label {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
    letter-spacing: -0.01em;
    
}

.upload-btn-label.error-case {
    font-weight: 700;
}

.upload-btn-label.add-star {
    font-weight: 700;
    color: #f64d4d;
}
.upload-box-and-filename-con {
    display: flex;
    align-items: center;
    gap: 12px;
}

.upload-box {
    border-radius: 6px;
    border: 2px solid #767676;

    width: 182px;
    height: 42px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5px;
    margin-bottom: 30px;
}

.file-name {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: -0.01em;
    vertical-align: bottom;
    color: #767676;
}