.shopping-page-header {
    width: 100%;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-contaier {
    width: 61vw;
    height: 39px;
    position: relative;
}

.shopping-page-search {
    width: 61vw;
    height: 39px;
    background-color: #f2f2f2;
    border-radius: 43px;
    border: none;
    padding-left: 20px;
    box-sizing: border-box;
}

/* <input> type: search에 기본적으로 생기는 X 삭제 */
.shopping-page-search::-webkit-search-decoration,
.shopping-page-search::-webkit-search-cancel-button,
.shopping-page-search::-webkit-search-results-button,
.shopping-page-search::-webkit-search-results-decoration {
    display: none;
}

.searcv-img-con {
    position: absolute;
    top: 10px;
    right: 16px;
}

.search-img {
    width: 18px;
    height: 18px;
}

.shopping-page-body {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px 10px;
    justify-items: center;
}

.shopping-page-footer {
    width: 100%;
    position: fixed;
    bottom: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}