.color-btn {
    width: 44px;
    height: 44px;
    border-radius: 15px;
    box-shadow: 0px 0px 1.5px 0px #0000007D;

    flex-shrink: 0;
    border: none;
}

.color-btn.selected {
    border: 5px solid #ffffff;

    box-shadow: 0px 0px 1.5px 0px #0000007D;
    box-shadow: 0px 0px 0px 4px #121212;
}