.add-item-page-overlay {
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    
    display: flex;
    flex-direction: column;
}

.add-item-page-header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 6vh;
}

.add-item-page-title {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 20px;
    line-height: 1em;
    letter-spacing: -0.01em;
    text-align: center;
    vertical-align: middle;
}

.add-item-page-back-btn {
    position: absolute;
    left: -3vw;
}

.add-item-page-body {
    background-color: #fefefe;

    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 75%;
    border-radius: 40px;
    margin-top: 4vh;

    display: flex;
    flex-direction: column;

    padding-left: 7vw;
    padding-top: 5vh;
    padding-right: 7vw;
    box-sizing: border-box;

    overflow-y: auto;
}

.upload-img-title {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
    letter-spacing: -0.01em;
}

.boxes-container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 23px;
}

.upload-img-con {
    margin-bottom: 30px;
}

.description-container {
    position: relative;
}

.description-length {
    position: absolute;
    top: 0;
    right: 0;

    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
    letter-spacing: -0.01em;
    color: #000000;
}

.add-item-page-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 30px;
}

.item-register-btn {
    border: none;
    background-color: #121212;
    color: #fefefe;

    border-radius: 34px;
    width: 80%;
    height: 45px;

    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
    letter-spacing: -0.02em;
}

.register-btn-right-arrow {
    width: 17px;
    height: 17px;
}

.price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.currency {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 20px;
    line-height:  1em;
    letter-spacing: -0.01em;
    color: #000000;
}