.input-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 70vw;

    margin-bottom: 1vh;
}

.custom-input {
    width: 63vw;
    height: 4.5vh;

    border-radius: 5px;
    border: 1.5px solid #B4B4B4;

    padding: 0 12px;
    box-sizing: border-box;
}

.input-label {
    flex: 0 0 85px;
    
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
    letter-spacing: -0.01em;
    color: #595959;
}