.input-bar-container {
    position: relative;
}

.input-label {
    position: absolute;

    left: 0px;
    top: 13px;

    width: 60px;
    height: 16px;

    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 500;

    line-height: 1em;
    letter-spacing: -0.01em;

    color: #595959;
}

.input-wrapper {
    margin-left: 73px; /* label left: 176px | input-bar left: 249px */
}

.custom-input {
    width: 727px;
    height: 42px;
    
    border-radius: 5px;
    border: 1.5px solid #B4B4B4;

    margin-bottom: 8px;
    padding: 0 12px;
}