body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f6f5;
    font-family: -apple-system, BlinkMacSystemFont, "Pretendard", Roboto, sans-serif;
    color: #4a4a4a;
}

.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 920px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 20px 40px rgba(100, 90, 85, 0.1);
    overflow: hidden;
    background-color: white;
}

@media (min-width: 768px) {
    .container {
        height: 90vh;
        border-radius: 32px;
    }
}

.layout-header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 10;
    flex-shrink: 0;
}

.header-back-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #333;
    padding: 8px;
    transition: color 0.2s;
}
.header-back-btn:hover { color: #a89085; }

.layout-mainContent {
    flex: 1;
    padding: 40px 100px; /* (vertical) (horizontal) */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* positioning vertically. <-> justify-items */
}

.layout-footer {
    text-align: center;
    font-size: 12.5px;
    color: #869287;
    margin-top: 40px;
    margin-bottom: 30px;
}

.content-inner { width: 100%; max-width: 500px; }