.image-upload-box {
    width: 123px;
    height: 123px;

    border-radius: 10px;
    border: 2px solid #767676;

    background-color: #fefefe;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
}

.plus-btn-img {
    width: 48px;
    height: 48px;
}

.input-file {
    display: none;
}