.sym-btn {
    width: 44px;
    height: 44px;
    border-radius: 15px;
    border: 1px solid #0000003B;

    flex-shrink: 0;
}

.sym-btn img {
    width: 100%;
    height: 100%;
}

.sym-btn.selected {
    border: 5px solid #ffffff;

    box-shadow: 0px 0px 1.5px 0px #0000007D;
    box-shadow: 0px 0px 0px 4px #121212;
}