.uploaded-product-preview {
    width: 282px;
    height: 282px;
    /* border-radius: 10px; 테두리 안 넣을 거면 필요X*/

    position: relative;
}

.uploaded-product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.three-dots-container.other-user { /* 타인이 스토어 방문한 경우, 삭제하기 못하게 */
    opacity: 1;
    visibility: hidden;
}

.three-dots-img {
    width: 38px;
    height: 38px;
}

.three-dots-btn {
    position: absolute;
    right: 4px;
    top: 12px;
    border: none;
    background: none;
    
}

.uploaded-product-delete-span-container {
    border-radius: 3px;
    width: 72px;
    height: 25px;
    background: #000000B2;
    position: absolute;
    right: 22px;
    top: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.uploaded-product-delete-span {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 15px;
    line-height: 1em;
    letter-spacing: 0em;
    text-align: right;
    color: #ffffff;

    pointer-events: auto;
}

