@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.download-btn-container {
    position: relative;
    display: flex;
    align-items: center;
    /* margin-left: 200px; */

    width: 60px;
    height: 60px;
    background-color: #f2f2f2;
    border-radius: 37px;
    
    box-shadow: 0px 1px 4px 0px #00000040;
}

.download-btn-img-container {
    position: absolute;
    right: 0; /* 부모(download-btn-container) 기준으로 오른쪽 끝에 배치 */

    width: 60px;
    height: 60px;
    z-index: 10; /* 팔레트보다 위에 표시되도록.. 부모를 올리면 자식도 자동으로 따라 올라감. 즉, 핸들러 정의된 애(download-btn)도 따라 올라가는 구조. */
}

.download-btn {
    border: none;
    border-radius: 37px;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    box-shadow: 0px 1px 4px 0px #00000040;
}

.download-img {
    width: 26px;
    height: 26px;
}

.palette-container {
    position: absolute;
    right: 0; /* 기본 팔레트도 일단 부모(download-btn-container) 기준 맨 오른쪽에 위치시킴. 이후에 확장되면 width를 235px로 늘리게 되고, right: 0이니 왼쪽으로 확장될 것 */

    height: 60px;

    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 35px;

    background-color: #f2f2f2;
    border-radius: 37px;
    box-shadow: 0px 1px 4px 0px #00000040;

    padding-left: 30px; /* 내부 요소(PDF, PNG)들 배치 위한 패딩 */
    box-sizing: border-box; /* 적용 안 하면 팔레트가 길어짐 */

    overflow: hidden; /* 팔레트 펼쳐질 때 팔레트 바깥으로 내용물 안 나오게 */

    transition: width 0.2s ease-in-out, opacity 0.2s;
}

.palette-container.unexpanded {
    width: 0%; /* 팔레트 확장 전: 너비를 0, 불투명도 0으로 줘서 시각적으로 숨김 */
    opacity: 0;
}

.palette-container.expanded {
    width: 235px; /* 확장 후: 너비를 235로 주고, 불투명도 1로 줘서 시각적으로 표시 */
    opacity: 1;
}

.file-type {
    border: none;
    background: none;

    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 16px;
    line-height: 1em;
    letter-spacing: -0.01em;
    vertical-align: bottom;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 15%;
    text-decoration-thickness: 8%;
    text-decoration-skip-ink: auto;

    color: #000000;
}