.design-page-overlay {
    width: 100%;
    height: 100vh;
}

.design-page-header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 12%;
    background-color: #f2f2f2;
}

.close-btn-con {
    position: absolute;
    left: 3%;
}

.save-btn-con {
    position: absolute;
    right: 3%;
}

.undo-redo-btn-container-in-design-page {
    position: absolute;
    right: 9%;
}

.design-title {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 20px;
    line-height: 1em;
    letter-spacing: -0.01em;
    text-align: center;

    color: #000000;
}

.tool-con {
    width: 66px;
    height: 148px;
    padding-left: 2.5vw;
    padding-top: 65vh;
}

.brush-btn {
    margin-top: 20px;
}

.design-page-body {
    display: flex;
    justify-content: space-between;
    height: 88%; /* design-header가 height: 12% 차지 */
}

.grid-board-con {
    margin-top: 6vh;

    height: fit-content; /* html2canvas로 캡처 시 별다른 설정 없다면 부모 사이즈만큼 캡처됨. 여백 줄이기 위해 직접 높이를 지정 */
}

