.right-sidebar-con {
    display: flex;
    justify-content: right;
    margin-top: 0;

    height: 100%;
    overflow: hidden;
}

.category-tab-area {
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding-top: 7px;
}

.content-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3vh;
    padding: 15px;
    background-color: #f2f2f2;

    height: 100%;
    overflow-y: auto;
    min-height: 0;
}

.content-area > :last-child {
    margin-bottom: 30px;
}

.tab-btn {
    width: 32px;
    height: 54px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 10px;
    line-height: 1.3em;
    letter-spacing: -0.01em;

    vertical-align: middle;

    color: #000000;
    background-color: #C1C1C3;
    border: none;
}

.tab-btn.selected {
    background-color: #f2f2f2;
}