.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 15vh;
}
/*
.page-sub-title {
    max-width: 80vw;

    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 16px;
    line-height: 1em;
    letter-spacing: 0.24em;
    text-align: center;

    color: #938181;

    margin-bottom: 1vh;
}
*/
.page-title {
    max-width: 80vw;

    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 24px;
    line-height: 1em;
    letter-spacing: -0.01em;
    text-align: center;

    color: #000000;

    margin-bottom: 16vh;
}

.input-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-btn-container {
    margin-top: 28.5vh;
    display: flex;
    justify-content: center;
}

@media (max-height: 1180px) {
    .submit-btn-container {
        margin-top: 25.5vh;
    }
}

@media (max-height: 1024px) {
    .submit-btn-container {
        margin-top: 21.5vh;
    }
}

@media (max-height: 820px) {
    .submit-btn-container {
        margin-top: 14vh;
    }
}

@media (max-height: 768px) {
    .submit-btn-container {
        margin-top: 11.5vh;
    }
}

.submit-btn {
    width: 93vw;
    height: 4.5vh;

    border-radius: 34px;

    font-family: 'Pretendard';
    color: #FEFEFE;

    background-color: #121212;
    border: 0px solid #121212;
}