.signup-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.signup-back-btn-container {
    position: absolute; /* independent from parent(upper-shelf..) */
    left: -3vw;
    top: 8.5vh;
}
/*
.page-sub-title {
    max-width: 80vw;

    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 16px;
    line-height: 1em;
    letter-spacing: 0.24em;
    text-align: center;

    color: #938181;

    margin-bottom: 1vh;
}
*/
.signup-page-title {
    margin-top: 8.5vh;
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 24px;
    line-height: 1em;
    letter-spacing: -0.01em;
    text-align: center;

    color: #000000;

    margin-bottom: 17vh;
}

.signup-input-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-submit-btn-container {
    margin-top: 26.5vh;
    display: flex;
    justify-content: center;
}

@media (max-height: 1180px) {
    .signup-submit-btn-container {
        margin-top: 23.5vh;
    }
}

@media (max-height: 1024px) {
    .signup-submit-btn-container {
        margin-top: 19.5vh;
    }
}

@media (max-height: 820px) {
    .signup-submit-btn-container {
        margin-top: 12vh;
    }
}

@media (max-height: 768px) {
    .signup-submit-btn-container {
        margin-top: 9.5vh;
    }
}

.signup-submit-btn {
    width: 93vw;
    height: 4.5vh;

    border-radius: 34px;

    font-family: 'Pretendard';
    color: #FEFEFE;

    background-color: #121212;
    border: 0px solid #121212;
}