.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 15vh;
}

.page-sub-title {
    max-width: 80vw;

    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 16px;
    line-height: 1em;
    letter-spacing: 0.24em;
    text-align: center;

    color: #938181;

    margin-bottom: 1vh;
}

.page-title {
    max-width: 80vw;

    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 24px;
    line-height: 1em;
    letter-spacing: -0.01em;
    text-align: center;

    color: #000000;

    margin-bottom: 16vh;
}

.input-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-btn-container {
    margin-top: 37vh;
    display: flex;
    justify-content: center;
}

.submit-btn {
    width: 93vw;
    height: 5.5vh;

    border-radius: 21px;

    font-family: 'Pretendard';
    color: #FEFEFE;

    background-color: #938181;
    border: 0px solid #938181;
}