.purchase-btn {
    width: 144px;
    height: 55px;
    border-radius: 40px;
    background-color: #505050;
    color: #fefefe;

    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 24px;
    line-height: 1em;
    letter-spacing: -0.01em;
    vertical-align: bottom;
}

.purchase-btn.activated {
    background-color: blue;
}

.purchase-btn.activated:active {
    color: #999999;
}

.purchase-btn.inactivated {
    opacity: 0.7;
    background-color: red;
}