.purchase-btn {
    width: 144px;
    height: 55px;
    border-radius: 40px;
    background-color: #505050;
    color: #fefefe;

    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 24px;
    line-height: 1em;
    letter-spacing: -0.01em;
    vertical-align: bottom;
    border: none;
}

.purchase-btn.activated {
    background-color: #505050;
}

.purchase-btn.activated:active {
    background-color: #999999;
}

.purchase-btn.inactivated {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999999;
}

.inactivated-purchase-btn-img {
    width: 32px;
    height: 32px;
}