/* 입력바 */
.input-bar {
    display: flex; /* flexbox 적용 */
    flex-direction: column; /* flexbox 교차 축 지정 */
    margin-bottom: 16px; /* 입력바 간 거리 */
    width: 100%;
}

.input-label {
    font-size: 14px;
    font-weight: 700;
    color: #5d5555;
    margin-bottom: 6px; /* label 아래 요소(입력바) 간의 거리 */
    margin-left: 9px;
}

/* 입력바 감싸는 wrapper */
.input-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}

/* 실질적인 입력 바 */
.custom-input {
    width: 100%;
    padding: 15px 20px; /* (위아래) (왼오) padding. 요소의 안쪽 여백 */
    border: 2px solid brown; /* 테두리 */
    border-radius: 17px;

    font-size: 15px;
    outline: none;
    background-color: white;
    transition: 0.2s;
    box-sizing: border-box;
}
.custom-input:focus {
    border-color: green;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(168, 144, 133, 0.15);
    transform: translateY(-1.5px);
}

.check-btn {
    position: absolute;
    right: 10px; /* 오른쪽에서 10px 떨어진 위치에 둠 */
    top: 50%; /* 최상단 기준으로 얼마나 떨어질 건지 */
    transform: translateY(-50%);
    padding: 6px 12px;
    background-color: brown;

    color: white;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

