.input-bar {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 100%;
}

.input-label {
    font-size: 14px;
    font-weight: 700;
    color: #5d5555;
    margin-bottom: 6px;
    margin-left: 9px;
}

.input-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}

.custom-input {
    width: 100%;
    padding: 15px 20px;
    border: 2px solid #938181;
    border-radius: 17px;

    font-size: 15px;
    outline: none;
    background-color: white;
    transition: 0.2s;
    box-sizing: border-box;
}
.custom-input:focus {
    border-color: green;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(168, 144, 133, 0.15);
    transform: translateY(-1.5px);
}

.custom-input.error {
  border-color: red;
  background-color: #fff5f5;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 6px;
  margin-left: 8px;
  font-weight: 500;
}

/*
.check-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px 12px;
    background-color: brown;

    color: white;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}
*/