.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 11px;
}

.profile-img-frame {
    width: 81px;
    height: 81px;
    border-radius: 50%; /* 틀을 원형으로 */
    overflow: hidden; /* 원형 틀 벗어나는 부분은 잘라냄 */
    
}

.profile-img {
    width: 100%; /* 부모(frame) 크기 딱 맞게 */
    height: 100%;
    object-fit: cover; /* frame 크기에 딱 맞게 채움 */
}

.user-nickname {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 1em;
    letter-spacing: -0.02em;
    color: #000000;
}

