.shopping-detail-page-header {
    margin-top: 10vh;
    margin-left: -2vw;
}

.shopping-detail-page-body {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    gap: 30px;
}

.shopping-detail-page-left-elements-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shopping-detail-page-span-container {
    display: flex;
    flex-direction: column;
}

.shopping-detail-page-price-editor-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
    margin-top: 11px;
}

.listed-product-info {
    font-family: 'Pretendard';
}

.listed-product-info.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1em;
    letter-spacing: -0.01em;
    vertical-align: bottom;
    color: #121212;
}

.listed-product-info.price {
    font-weight: 700;
    font-size: 24px;
    line-height: 1em;
    letter-spacing: -0.01em;
    text-align: right;
    vertical-align: bottom;
}

.listed-product-info.editor {
    font-weight: 600;
    font-size: 16px;
    line-height: 1em;
    letter-spacing: -0.01em;
    vertical-align: bottom;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 8%;
    text-decoration-thickness: 15%;
    text-decoration-skip-ink: auto;
    color: #949494;
}

.listed-product-img {
    width: 376px;
    height: 471px;
    border-radius: 10px;
    object-fit: cover;
}

.shopping-detail-page-right-elements-wrapper {
    display: flex;
    flex-direction: column;

    gap: 21px;
}

.shopping-detail-page-description {
    width: 100%;
    height: 240px;

    border-radius: 10px;
    padding: 20px 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: none;

    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4em;
    color: #000000;
    position: relative;
}

.shopping-detail-page-img-container {
    display: flex;
    flex-direction: column;

    position: relative;
    /* img container를 기준점으로 */
}

.image-pagination-container-in-shopping-detail-page {
    position: absolute;

    bottom: 15px;
    right: 12px;
}

.shopping-detail-page-purchase-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}