.save-detail-page-container {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

.save-detail-page-header {
    width: 100%;
    margin-top: 7vh;
    margin-left: -3vw; /* BackBtn.css에 padding-left: 8vw; 적용돼 있음 */
}

.save-detail-page-body {
    margin-top: 9vh;

    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: stretch;

    gap: 40px;
}

.design-image-background {
    width: 376px;
    height: 471px;
    background-color: #d9d9d9;
    
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}


.design-image-con {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-image  {
    width: 100%;
    box-shadow: 0px 0px 35.9px 0px #0000003B;
}

.design-title-name-con {
    display: flex;
    flex-direction: column;
    gap: 22px;

    height: 471px;
    justify-content: flex-start;
}

.save-detail-page-title {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 28px;
    line-height: 1em;
    letter-spacing: -0.01em;
    vertical-align: bottom;

    color: #000000;
}

.design-detail-textarea {
    width: 548px;
    height: 100%;

    border-radius: 10px;

    background-color: #f2f2f2;

    padding: 15px 15px;

    border: none;
}

.design-detail-textarea::placeholder {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 15px;
    line-height: 1em;
    letter-spacing: -0.01em;
    color: #000000;
}

.design-detail-textarea:focus::placeholder {
    color: #f2f2f2;
}

.save-detail-page-footer {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}

.save-detail-page-upload-btn {
    width: 144px;
    height: 55px;
    background-color: #505050;
    border-radius: 40px;
    border: none;

    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 24px;
    line-height: 1em;
    letter-spacing: -0.01em;
    color: #fefefe;
}